.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 20px 40px 0px darkgray;
    margin-bottom: 40px;
}

.icon {
    padding: 20px;
    width: 120px;
}
.skill:hover {
    background-color: darkgray;
}
.decription {
    text-align: center;
}
.img{
    width: 80px;
    padding: 20px;

}