.myWorks{
    background-color:white;
    margin-bottom: 40px;
}
.title{
    background-color: #ffdf5f;
    max-width: 300px;
}
.worksContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.links{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

@media (max-width: 1024px) {
    .links{
        justify-content: center;
    }
}