
.skillsContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 40px ;
}

.skills {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media(max-width:416px )  {
    .skills {
        justify-content: center;

    }

}

.title {
    background-color: white;
    font-family: 'Nunito', sans-serif;
}