@import './../../Common/Styles/SASS/variables';
@import './../../Common/Styles/SASS/mixins';

.header {
  height: 80px;
  @include flex(center, center, wrap);
  align-content: center;
  background-color: $navBgColor;
  width: 100%;
  position: fixed;
  z-index: 10;
  @media (max-width: 927px) {
    visibility: hidden;
  }
}



