.contacts{
    margin-bottom: 40px;
}
.form{
    margin-bottom: 40px;
    min-height: 100px;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.contactsContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 50vh;
}
.title{
    max-width: 300px;
}
.input{
    width: 270px;
}
.button{
    text-align: center;
    color: white;
    padding:5px 15px ;
    background-color:#297ca0 ;
    position: relative;
    z-index: 1;
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
    border-radius: 5px;
}
.button:hover{
    background-color:white ;
    color: #297ca0;
}