.container {
    text-align: center;
    margin: 40px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    font-size: 1.5rem;
    flex-wrap: wrap;
}

.myPhoto {
    max-width: 300px;
    margin-right: 20px;
    border-radius: 50%;
    box-shadow: 10px 20px 40px 0px darkgray;
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


}

.containerContact {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: left
}


.link {
    padding: 20px;
    color: black;
    text-decoration: none;
}

.link:hover {
    color: #297ca0;

}

.linkIcon {
    border-radius: 50%;
    padding: 10px 10px;
    box-shadow: 10px 20px 40px 0px darkgray;
    margin: 10px 10px;
}

.linkIcon:hover {
    background-color: #93d9ea;
    box-shadow: 10px 20px 40px 0px black;
}

.text {
    max-width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}
